{% extends "base.html.j2" %}
{% block page_banner %}
<!-- Banner Section -->
<section id="banner" class="banner-slider">
    <div class="banner-img-slider">
        <div>
            <div class="banner-thumb"><img src="{{url_for('static', filename = 'images/banner-img/abt-us-banner.png')}}" alt="" class="hide" /></div>
        </div>
    </div>
    <div class="blue-overlay"></div>
    <div class="banner-text-wrapper">
        <div class="container">
            <div class="banner-text">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1>About Us</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
<!-- Our Story -->
<section id="our-story" class="section-block">
    <div class="container">
        <div class="top-desc text-center">
            <h2>Our Story</h2>
            <p class="sub-heading">You’re in the right place!</p>
        </div>
        <div class="our-detail">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>Vision</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry's standard dummy text .</p>
            </div>
            <div class="col-sm-4">
                <h3>Mission</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry's standard dummy text .</p>
            </div>
            <div class="col-sm-4">
                <h3>Our Values</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry's standard dummy text .</p>
            </div>
        </div>
    </div>
</section>
<!-- Our info section -->
<section id="our-info" class="section-block">
    <!-- Our info section -->
    <div class="blue-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <i class="icon icon-empowered" aria-hidden="true"></i>
                <h3><span>150,000</span>+</h3>
                <p>Empowered</p>
            </div>
            <div class="col-sm-4">
                <i class="icon icon-borrowed" aria-hidden="true"></i>
                <h3>$<span>5</span> billion+</h3>
                <p>Borrowed</p>
            </div>
            <div class="col-sm-4">
                <i class="icon icon-rating" aria-hidden="true"></i>
                <h3>Customer</h3>
                <p>Rating</p>
            </div>
        </div>
    </div>
</section>
<!-- Our team section -->
<section id="our-team" class="section-block">
    <div class="container">
        <div class="top-desc text-center">
            <h2>Our TEAM</h2>
            <p class="sub-heading">You’re in the right place!</p>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="img"><img src="assets/images/team-img/team-img1.jpg" alt="" /></div>
                <div class="name"><a href="team-member.html"><span>John Doe</span>  |  Co-Founder &quot; CEO</a></div> 
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <ul class="list-inline social-share">
                    <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <div class="img"><img src="assets/images/team-img/team-img1.jpg" alt="" /></div>
                <div class="name"><a href="team-member.html"><span>John Doe</span>  |  Co-Founder &quot; CEO</a></div> 
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <ul class="list-inline social-share">
                    <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <div class="img"><img src="assets/images/team-img/team-img1.jpg" alt="" /></div>
                <div class="name"><a href="team-member.html"><span>John Doe</span>  |  Co-Founder &quot; CEO</a></div> 
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                <ul class="list-inline social-share">
                    <li><a href="#"><i aria-hidden="true" class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i aria-hidden="true" class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i aria-hidden="true" class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Our services Section -->
{{ services_carousel() }}
{% endblock %}