{% extends "base.html.j2" %}

{% block content %}
	<!-- 404 Section -->
    <section class="section-block">
    	<div class="container">
        	<div id="404-page">
                <div class="top-desc text-center">
                    <h2>This Page Could Not Be Found!</h2>
                </div>
                <div class="errorContent">
                    <div class="error-title"><span>404</span><label>ERROR</label></div>
                    <p>Page doesn’t exist or some other error occured. Go to our <a href="index.html">home page</a> or go to back <a href="#">previous page</a></p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}